.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
CSLG_ModeChoice/input_data/buildings_with_section
CSLG_ModeChoice/input_data/networks
CSLG_ModeChoice/input_data/train_24h
CSLG_ModeChoice/input_data/transit_24h
CSLG_ModeChoice/input_data/transit_together_24h
CSLG_ModeChoice/input_data/destinations.csv
CSLG_ModeChoice/input_data/origins.csv
CSLG_ModeChoice/input_data/pt_zonal_jumps.xlsx
CSLG_ModeChoice/input_data/trips.csv
CSLG_ModeChoice/input_data/workers_eskuzaitzeta_2k.csv
CSLG_ModeChoice/input_data/workers_eskuzaitzeta_10k.csv
CSLG_ModeChoice/model/cache
CSLG_ModeChoice/model/data
CSLG_ModeChoice/model/models
CSLG_ModeChoice/model/results
CSLG_ModeChoice/model/logs
CSLG_ModeChoice/Papers
CSLG_ModeChoice/preprocessing/analysis_graphs.ipynb
CSLG_ModeChoice/preprocessing/name_to_latlong.ipynb
CSLG_ModeChoice/preprocessing/GTFS_train_24.ipynb
CSLG_ModeChoice/preprocessing/GTFS_transit_24.ipynb
CSLG_ModeChoice/preprocessing/data
CSLG_ModeChoice/preprocessing/logs
CSLG_ModeChoice/preprocessing/raw_data
CSLG_ModeChoice/preprocessing/secondary_data
CSLG_ModeChoice/auxiliar.docx
CSLG_ModeChoice/code_flow.pptx
CSLG_ModeChoice/Resultados_nuevo_modelo.docx
CSLG_ModeChoice/Resultados_que_voy_obteniendo.docx
CSLG_ModeChoice/Results_new.docx
UI_SCP/assets/data/login_data.txt
UI_SCP/assets/data/login_data.txt
UI_SCP/login_version/read_users.py
UI_SCP/assets/data/login_data.txt
UI_SCP/assets/data/login_data.txt
